.container {
    position: relative;
    width: 100vw;
    margin: 0 auto;
  }
  
  .carousel-wrapper {
    position: relative;
    height: 60vh;
    overflow: hidden;
    border-radius: 8px;
  }
  
  .slide-container {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
  }
  
  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  .navigation-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .navigation-button:hover {
    background: rgba(255, 255, 255, 0.8);
  }
  
  .prev-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    left: 16px;
  }
  
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    right: 16px;
  }
  
  .dots-container {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 8px;
  }
  
  .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    padding: 0;
  }
  
  .dot:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  .active-dot {
    background-color: rgba(255, 255, 255, 1);
  }